body{
    margin: 0;
    background-color: black;
}


.dark{
    background-color: #e6e6e6;
    color: #222;
}


.container{
    margin: 0px 166px;
}

.header{
    background-image: url(assets/background.png);
    height: 100vh;
    background-size: cover;
    background-position: center center; /* Keeps the image centered */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Optional: Keeps the image fixed when scrolling */

}
    

.header-line{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 80%;
    height: 20vh;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    transition: background-color 0.5s opacity 0.3s;
    z-index: 1000;
}

.header-line:hover{
    background-color: black;
    transition: 0.5s;
}

html:has(body:has(:not(.header-line))) .header-line {
    background-color: black;
}

.nav-item{
    color: white;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 25px;
    text-decoration: none;
    transition: color 0.1s linear;
    
}

.nav-item:hover{
    color: grey;
}

.changetheme{
    color: white;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 25px;
    text-decoration: none;
    transition: color 0.1s linear;
    cursor: pointer;
}

.changetheme:hover{
    color: grey;
}


.logo-img{
    border-radius: 100px;
}

.phone-img{
    border-radius: 100%;
}

.num{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    transition: color 0.1s linear;
}

.num:hover{
    color: grey;
}

.phone-text{
    color: white;
    font-weight: 700;
    font-size: 9px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 25px;
    text-decoration: none;
    transition: color 0.1s linear;
}


.button{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 14px 19px;
    color: black;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 25px;
    text-decoration: none;
    transition: background-color 0.1s linear;
}

.button-title{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 14px 19px;
    color: black;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 2vh;
    text-decoration: none;
    transition: background-color 0.1s linear;
}

.button:hover{
    background-color: grey;
}


.header-title{
    margin-top: 50vh;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 7vh;
    text-align: center;
}

.header-subtitle{
    color: white;
    font-size: 9vh;
}

.header-suptitle{
    color: white;
    font-size: 2vh;
}

.header-suptitle:after{
    position: absolute;
    content: "";
    height: 0.2vh;
    width: 7vh;
    background-color: white;
    top: 23.5vh;
    left: 40vh;
}
.header-suptitle:before{
    position: absolute;
    content: "";
    height: 0.2vh;
    width: 7vh;
    background-color: white;
    top: 23.5vh;
    right: 40vh;
}

.cards{
    margin-top: 35vh;
    background-image: url(background2.png);
    height: 100vh;
    background-size: cover;
}

.card-holder{
    display: flex;
    justify-content: center;
}

.card{
    border-radius: 1vh;
    box-shadow: 1vh 1vh 4vh 2vh #0000001A;
    width: 34.9vh;
    margin-right: 3vh;
    background-color: white;
    margin-top: -80px;
    padding: 0px 20px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.card:hover {
    background-color: rgb(222, 222, 222);
    transition: 0.5s;
}

.card-img{
    height: 100px;
    width: 100px;
}

.card-image{
    display:flex;
    justify-content: center;
    padding-top: 31px;
}

.card-title{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Tinos', serif;
    font-size: 30px;
    font-weight: 400;
}
.card-title span{
    color: rgb(192, 140, 140);
}
.card-desc{
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
    color: gray;
}

.card-button{
    background-color:rgb(192, 140, 140);
    border-radius: 5px;
    padding: 14px 19px;
    color: black;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 25px;
    text-decoration: none;
    transition: background-color 0.1s linear;
    display: flex;
    justify-content: center;
    margin: 50px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.card-button:hover{
    background-color: grey;
    transition: all 0.5s;
}

.cards-animation {
    opacity: 0;
    transform: translateY(20px);
}

.cards-animation.cards-show{
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}


.about-title{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
}

.about-text{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
